html{
    background-color: pink;
}
body{
    margin: 0 auto;
    min-width: 320px;
    max-width: 860px;
    background-color: greenyellow;
}
.gallery{
    margin: 0 auto;
    background-color: yellow;
    width: 80%;
    min-height: 80vh;
    padding:5px;
    color: black;
    border: 2px solid black;
    /*justify-content: center;
    align-items: center;*/
    justify-content: space-between;
    display: flex;
    cursor: default;
    flex-wrap: wrap;
    align-content: start;
    flex-grow: 1;
}
.trash{
    width: 50px;
    background-color: red;
    height: 50px;
}
img{
    margin-bottom: 3px;
    display: block;
    max-height: 150px;
    max-width: 100%;
}